@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Serif+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Montserrat:wght@400&display=swap');

:root {
    --high-text: hsl(273, 100%, 50%);
    --low-text: #f9e2c6;
    --bg: rgb(22, 27, 34);
}

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--low-text);
    background-color: var(--high-text);
    height: 100%;
}

.bungee-font {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6em;
    color: var(--low-text);
}

h2 {
    font-size: 3vw;
    color: var(--low-text);
    margin: 10px 0;
}

.h3-container h3:hover {
    color: var(--bg);
    background-color: var(--low-text);
    padding: 10px;
    border-radius: 10px;
}

h4 {
    color: var(--low-text);
    font-weight: 100;
    letter-spacing: .2rem;
}

.h3-container {
    font-size: 1.0em;
    position: fixed;
    padding: 15px 50px;
    right: 10px;
    top: 0px;
    display: block;
    text-align: right;
    color: var(--low-text);
    cursor: pointer;
}

p {
    text-align: justify;
    font-weight: 100;
    font-size: 1em;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

input,
textarea,
button,
select,
a,
div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
    outline: none;
}

div {
    margin: 10px 50px;
    padding: 100px;
    background: var(--bg);
    border: solid 2px #5882FA;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(14, 14, 13, 0.864);
}

code {
    color: var(--low-text);
    background: var(--high-text);
    padding: 2px 6px;
    border: none;
    font-size: 1.2em;
    border-radius: 7px;
    overflow-y: hidden;
    box-shadow: 0px 0px 40px rgba(14, 14, 13, 0.897);
}

.lang-Processing {
    box-shadow: inset 0px 0px 40px rgba(14, 14, 13, 0.842);
    background: var(--bg);
    color: var(--low-text);
    display: inline-block;
    width: 60%;
    height: 50vh;
    overflow: scroll;
    padding: 25px;
    margin: 45px 0;
    border: solid 2px #5882FA;
    border-radius: 20px;
}

li,
p {
    margin: 10px 0;
    line-height: 1.4em;
}

/* Aqui da uma olhada */

li a {
    font-size: 1.5vw;
    color: var(--high-text);
    text-decoration: none;
    transition: 0.2s;
}


::selection {
    background-color: var(--high-text);
    color: var(--bg);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid var(--bg);
    box-shadow: inset 0 0 5px var(--bg);
    background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--high-text);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--low-text);
}

/* Highlight Code */

.hljs-keyword {
    color: #3759b6;
}

.hljs-regexp,
.hljs-comment {
    color: rgb(104, 164, 43);
}

.hljs-string {
    color: rgb(97, 30, 159);
}

.hljs-built_in,
.hljs-title {
    color: chocolate;
}

.hljs-number {
    color: rgb(187, 16, 99);
}

/* Collapsble */

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 1.4em;
    outline: none;
    color: var(--low-text);
    background-color: rgba(0, 0, 0, 0);
}

p.collapsible {
    border: solid 2px #5882FA;
    border-radius: 20px;
    text-align: center;
}

.active,
.collapsible:hover {
    color: var(--high-text);
}

.collapsible:after {
    content: '\002B';
    color: var(--high-text);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.gradient-text {
    background: -webkit-linear-gradient(rgba(88, 130, 250, 1), rgba(97, 30, 159, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {
    div {
        margin: 6px;
        padding: 20px;
    }

    .lang-Processing {
        width: 100%;
    }

    #title {
        margin-top: 115px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 6vw;
        margin: 20px 0;
    }

    .h3-container {
        background: rgba(14, 14, 13, 0.842);;
        font-size: 1.5em;
        padding: 15px;
    }

    li a {
        font-size: 4.5vw;
    }
}